header {
  background-color: #28A0FF;
  padding-top: 30px;
  text-align: left;
 
 
}

footer {
  background-color: #28A0FF;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  padding-bottom: 10px;
  text-align: center;
}

nav {
  
  clear: both;
  background-color: aliceblue;
  height: 40p;
  text-align: center;

}

i {
  color: black;
  padding-left: 15px;
}

body {
  font-family: 'Shadows Into Light', cursive;
  color: grey;
}

article {
  text-align: center;
}

figure {
  text-align: center;
 
}

.project {
  border: solid grey;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.connect {
  letter-spacing: 15px;
  font-weight: bold;
}

.project1 {
  text-align: center;
}

#amandaheader:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  
}

#about {
    -ms-transform: rotate(15deg); /* IE 9 */
    -ms-transform-origin: 20% 40%; /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    transform-origin: 10% 20%;
  
  
}

.myself {
  margin-top: 85px;
}


