header {
  background-color: #28A0FF;
  padding-top: 30px;
  text-align: left;
 
 
}

footer {
  background-color: #28A0FF;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  padding-bottom: 10px;
  text-align: center;
}

nav {
  
  clear: both;
  background-color: aliceblue;
  height: 40p;
  text-align: center;

}

i {
  color: black;
  padding-left: 15px;
}

body {
  font-family: 'Shadows Into Light', cursive;
  color: grey;
}

article {
  text-align: center;
}

figure {
  text-align: center;
 
}

.project {
  border: solid grey;
}

.connect {
  letter-spacing: 15px;
  font-weight: bold;
}



